<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/detalhe-produto.css" />
    <title>Detalhe produto</title>
  </head>
  <body>
    <main class="container">
      <%- include('./components/header.ejs') %>
      <div class="box">
        <div class="first-section">
          <div class="prod-img">
            <img src="<%=produto.image%>" alt="" /> <img src="<%=produto.image%>" alt="" />
            <img src="<%=produto.image%>" alt="" /> <img src="<%=produto.image%>" alt="" />
          </div>
          <div class="prod"><img src="<%=produto.image%>" alt="" /></div>
          <div class="prod-desc">
            <div class="prod-name">
              <span><%=produto.name%></span>
            </div>
            <div class="prod-price">
              <div>
                <span id="price"
                  ><%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'
                  }).format(produto.price)%></span
                >
              </div>
              <div>
                <span>Adicionar</span>
                <a href="/carrinho/<%=produto.id%>"><img src="../image/shopping-cart.png" alt="" /></a>
              </div>
            </div>
            <div class="prod-inst">
              <span>Parcelas</span>
              <div class="instalment">
                <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'}).format(produto.price)%>(1x sem
                juros)
              </div>
              <div class="instalment">
                <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'}).format(produto.price / 2)%>(2x
                sem juros)
              </div>
              <div class="instalment">
                <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'}).format(produto.price / 3)%>(3x
                sem juros)
              </div>
              <div class="instalment">
                <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'}).format(produto.price / 4)%>(4x
                sem juros)
              </div>
              <div class="instalment">
                <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'}).format(produto.price / 5)%>(5x
                sem juros)
              </div>
              <div class="instalment">
                <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'}).format(produto.price / 6)%>(6x
                sem juros)
              </div>
              <div class="instalment">
                <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'}).format(produto.price / 7)%>(7x
                sem juros)
              </div>
              <div class="instalment">
                <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'}).format(produto.price/ 8)%>(8x
                sem juros)
              </div>
              <div class="instalment">
                <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'}).format(produto.price / 9)%>(9x
                sem juros)
              </div>
              <div class="instalment">
                <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL'}).format(produto.price /
                10)%>(10x sem juros)
              </div>
            </div>
          </div>
        </div>
        <div class="second-section">
          <span>Detalhes do produto</span>
        </div>
        <div class="third-section">
          <span>Informações técnicas</span>
        </div>
      </div>
      <%- include('./components/footer.ejs') %>
    </main>
  </body>
</html>
