<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/finalizacaoDaCompra.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <title>Finalização da compra</title>
  </head>
  <body>
    <%- include('./components/header.ejs') %>
    <main>
      <div class="details">
        <div class="product">
          <img src="<%=sale.image%>" alt="teste" />
          <p><%=sale.name%></p>
        </div>
        <img class="arrow-left" src="../image/right-arrow.png" alt="" />
        <div class="address">
          <h1>Endereço</h1>
          <p><%=userLogged.city%></p>
          <p><%=userLogged.street%> - <%=userLogged.number%></p>
        </div>
        <img class="arrow-right" src="../image/right-arrow.png" alt="" />
        <form class="payment" action="">
          <p>R$ <%=sale.price.toLocaleString('pt-BR', {minimumFractionDigits: 2})%></p>
          <div>
            <label for="installment">Parcelas</label>
            <select name="installment" id="">
              <option value="">1x</option>
              <option value="">2x</option>
              <option value="">3x</option>
              <option value="">4x</option>
              <option value="">5x</option>
              <option value="">6x</option>
              <option value="">7x</option>
              <option value="">8x</option>
              <option value="">9x</option>
              <option value="">10x</option>
            </select>
          </div>
          <button>Comprar</button>
        </form>
      </div>
    </main>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
