<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/glide.core.css" />
    <link rel="stylesheet" href="css/glide.theme.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/global.css" />
    <script src="/js/home.js" defer></script>
    <title>Home</title>
  </head>
  <body>
    <header class="container">
      <div class="left-section">
        <a href="/"><img src="../../image/logo-site.png" alt="Site logo" /></a>
      </div>
      <form class="middle-section">
        <input type="search" placeholder="Pesquisar" id="search" />
        <button type="submit">
          <img src="../../image/search.png" alt="search icon" />
        </button>
      </form>
      <div class="right-section">
        <div class="right-section-text">
          <a href="/painel-do-usuario"><p class="conta">Minha conta</p></a>
          <div class="loginArea"><a href="/pagina-login"><p class="login">Login</a></p> <p>-</p> <a href="./Pagina-Cadastro"><p class="signIn">Cadastro</p></a>
          </div>
        </div>
        <img src="../../image/shopping-cart.png" alt="shopping cart icon" />
      </div>
    </header>
    <main class="container">
      <nav class="navigation">
        <a href="/listagem-produtos/1"><div>Computador</div></a>
        <a href="/listagem-produtos/2"><div>Periféricos</div></a>
        <a href="/listagem-produtos/3"><div>Cadeiras</div></a>
        <a href="/listagem-produtos/4"><div>Componentes</div></a>
      </nav>
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <img
                src="./image/processador-intel-core-i3-10100f-cache-6mb-4-30-ghz-lga-1200-i3-10100f_1603394030_g.jpg"
                alt="" />
            </li>
            <li class="glide__slide"><img src="./image/cadeira-tgt-rgb.jpg" alt="" /></li>
            <li class="glide__slide"><img src="./image/monitor-gamer-msi-optics.jpg" alt="" /></li>
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div>
      </div>
      <div class="grid">
        <% produtos.slice(0,8).forEach(produto => { %>
        <div class="card">
          <img src="<%=produto.image%>" alt="" />
          <p class="description"><%=produto.name%></p>
          <p class="price">
            <%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(produto.price)%>
          </p>
          <a href="detalhe-produto/<%=produto.id%>"><button>Comprar</button></a>
        </div>
        <% }) %>
      </div>
      <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script>

      <script>
        new Glide(".glide").mount();
      </script>
    </main>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
