<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/Listagem-Produtos-style.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include('./components/header.ejs') %>
<main class="container">
      <nav class="navigation">
        <a href="/listagem-produtos/1"><div>Computador</div></a>
        <a href="/listagem-produtos/2"><div>Periféricos</div></a>
        <a href="/listagem-produtos/3"><div>Cadeiras</div></a>
        <a href="/listagem-produtos/4"><div>Componentes</div></a>
      </nav>


<!-- <ul class="Barra-lateral">
    <p><h1>Computadores</h1></p>
<li>
    <div>Notebooks</div>
    <div>Desktop</div>
    <div>Monitor</div>
    <div>Mouse</div>
    <div>Gamepad</div>
    <div>Speakers</div>
</li>
</ul> -->
<div class="listagem-produtos">
  <ul class="row-top">
    <% produtos.forEach(produto => { %>
    <li class="product-top">
        <div class="product-top-img">
        <img src=<%=produto.image%> alt="" />
        </div>
      <div class="product-top-info">
        <p><%= produto.name%></p>
        <p><%=produto.description%></p>
      </div>
      <div class="price"><%=new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(produto.price)%></div>
      <form class="product-top-button">
        <a href="detalhe-produto/<%=produto.id%>"><button>Comprar</button></a>
      </form>
    </li>
    <% }) %>
</div>

    </main>

    <%- include('./components/footer.ejs') %>
  </body>
</html>
