<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/painelDoUsuario.css" />
    <link rel="stylesheet" href="./css/global.css" />
    <title>Painel do usuário</title>
  </head>
  <body>
    <%- include('./components/header.ejs') %>
    <main>
      <section>
        <div class="content-top">
          <div class="user">
            <% if(adminLogged) { %>
            <h3>Bem vindo, <%=adminLogged.name%></h3>
            <% } else { %>

            <h3>Bem vindo, <%=userLogged.name%></h3>

            <% } %>
          </div>
          <div class="informations">
            <div class="nav">
              <h2>Informações da conta</h2>
            </div>
            <section class="userInfo">
              <div>
                <p><%=user.name%> <%=user.surname%></p>
                <p><%=user.email%></p>
              </div>
              <div class="change">
                <p>Alterar</p>
              </div>
            </section>
            <h2 class="address">Endereço cadastrado</h2>
            <section class="addressInformation">
              <div>
                <p><%=user.street%>, <%=user.number%></p>
                <p>Numero <%=user.number%>, <%=user.street%> -  <%=user.complemento%> </p>
                <p><%=user.cep%> - <%=user.city%>, <%=user.uf%></p>
              </div>
              <div class="change">
                <p>Alterar</p>
              </div>
            </section>
          </div>
          <div class="purchases">
            <h2>Pedidos</h2>
            <table>
              <thead>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          
    </main>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
