<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/lista-produtos.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include('../components/header.ejs') %>
<main class="container">
      <nav class="navigation">
        <a href="/listagem-produtos/1"><div>Computador</div></a>
        <a href="/listagem-produtos/2"><div>Periféricos</div></a>
        <a href="/listagem-produtos/3"><div>Cadeiras</div></a>
        <a href="/listagem-produtos/4"><div>Componentes</div></a>
      </nav>

<div class="produtos">
  <div class="side-bar">
    <a href="/auth/cadastro-produto"><p>Criar produto</p></a>
  </div>
  <div class="listagem-produtos">
      <ul class="row-top">
        <% produtos.forEach(produto => { %>
        <li class="product-top">
            <div class="product-top-img">
            <img src=<%=produto.image%> alt="" />
            </div>
          <div class="product-top-info">
            <p><%= produto.name%></p>
            <p><%=produto.description%></p>
          </div>
          <div class="price"><%=produto.price%>R$</div>
          <div class="product-buttons">
            <form class="product-top-button" method="POST" action="/auth/lista-produtos/<%=produto.id%>/delete?_method=DELETE" >
              <button>Excluir</button>
            </form>
            <a class="product-top-button" href="/auth/alterar-produto/<%=produto.id%>"><button>Alterar</button></a>
          </div>  
        </li>
        <% }) %>
  </div>

</div>
    </main>

    <%- include('../components/footer.ejs') %>
  </body>
</html>
